version: '3'
services: 
  redis-server: 
    image: 'redis'
  node-app: 
    restart: always
    build: .
    #specify a port  #local machine port:inside contrainer port
    ports: 
      - "4001:8081"